@font-face {
    font-family: 'myFont';
    src: url(./1.woff2) format(woff2),
        url(./2.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'myFont';
    /* background: url('./icon.svg'); */
}